body {
    margin: 0;
    background-color: black;
    text-align: center;
    position: relative; /* Required to position elements within the body */
}

.footer-text {
    position: absolute;
    bottom: 30px; /* Adjust as needed */
    left: 10px;   /* Adjust as needed */
    color: white;
    font-size: 9px; /* Adjust size as needed */
}

.hide-on-small {
    display: block; /* or whatever the default display is */
}

/* This will hide the element when the screen size is below 800px */
@media screen and (max-width: 800px) {
    .hide-on-small {
        display: none;
    }
}

/* Fullscreen Preloader */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#content {
    display: block;
}

